header ul {
  text-align: right;
  display: inline;
  font-family: sans-serif;
  color: gray;
  float: right;
  padding-right: 40px;
}

header li {
  display: inline;
  padding: 8px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 250px;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.background {
  background-image: url("img/atl.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: sans-serif;
  color: white;
  font-weight: 400;
  margin: 20px;
}

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logodiv img {
  width: 200px;
}
.background h3 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  color: lightgrey;
  padding-top: none;
  padding-bottom: 85px;
}

header a {
  text-decoration: none;
  color: grey;
  font-size: small;
  margin-right: 20px;
}

.middle h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.images {
  display: flex;
  justify-content: space-around;
  margin: 0 4%;
}

.titles {
  display: flex;
  justify-content: space-around;
  margin: 0 4%;
  font-family: sans-serif;
}

.titles h4 {
  font-size: 38px;
  font-weight: 400;
}

.words {
  display: flex;
  justify-content: space-around;
  margin: 0 4%;
  font-family: sans-serif;
}

.words p {
  margin: 50px;
  text-align: center;
}

footer {
  background-color: #595656;
}

footer ul {
  margin: 0 auto;
  height: 30px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  padding-inline-start: 0px;
}

footer li {
  display: inline;
  font-family: sans-serif;
  color: white;
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
  
}

footer a {
  text-decoration: none;
  color: white;
}
footer p {
  text-align: center;
  color: gray;
  font-family: sans-serif;
}